
<%= select 'category', 'id', @categories_for_select, {:selected => selected_category_id} %>

<%= form_tag tasks_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= hidden_field_tag :category_id, selected_category_id %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>


<table id="task_table">
	<thead>
		<tr>
			<th><%= sortable "title" %></th>
			<th><%= sortable "task" %></th>
			<th><%= sortable "from" %></th>
			<th><%= sortable "to" %></th>
		</tr>
	</thead>

	<tbody id="tasks">
	<% @tasks.each_with_index do |f, index| %>
			<tr id="task_<%= f.id %>" class="<%= cycle('f_row', 's_row') %> handle">
				<td><%= f.title %></td>
				<td><%= f.task %></td>
				<td><%= f.from.strftime("%B %e, %Y") %></td>
				<td><%= f.to.strftime("%B %e, %Y") %></td>
				<td class="items"><%= link_to image_tag( 'edit.gif', :alt => 'edit'), edit_task_path(f) %></td>
				<td class="items"><%= link_to image_tag( 'delete.gif', :alt => 'delete'), f, :method => :delete %></td>
			</tr>
	<% end %>
	</tbody>
</table>


<%= link_to 'create new task', new_task_path(:category_id => params[:category_id]) %>
<br>
<%= link_to 'back to categories', categories_path %>

<script type="text/javascript">

$('#category_id').change(function(){
	window.location = '/tasks?category_id=' + $(this).val();
})

$( "#tasks" ).sortable({
	items: 'tr',
	update: function() {
		$.ajax({
			type: "post",
			url: "tasks/position",
			data: $("#tasks").sortable("serialize") + "&category_id=" + category_id
		});
	}
})
</script>
