<!DOCTYPE html>
<html>
<head>
  <title>List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.2.min", "jquery-ui-1.8.20.custom.min", "application", "rails" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div align="right">
	<% if current_user %>
		<%= current_user.first_name %>
		<%= link_to "logout", logout_path %>
		<%= link_to "edit", edit_user_path(current_user.id) %>
	<% end %>
	</div>

<%= yield %>

</body>
</html>
